html
  head
    link(rel="stylesheet" href="./index.css")
  body
    div#calendar__header #[span(style="font-weight:400;color: #8E44AD") µ]Schedule
      div#calendar__subheader Course planning is now super easy.
    div#calendar__wrap
      div.time__dayWrap
        each day in ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']
          div.time__day=day
      div.time__row
        div.time__rowHead.time__rowHead--top 7:00
        div.time__rowSplit
      each hour in [8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11]
        div.time__row
          div.time__rowHead=(hour >= 10? hour:'0'+hour)+':00'
          div.time__rowSplit
    div#calendar__control
      #calendar__courseWrap
        input(placeholder="Find your courses..")#calendar__search
        #calendar__resultWrap
          .calendar__result
            .calendar__resultHead CPSC 110
            .calendar__resultBody Introduction to computer science, and that stuff.
          .calendar__result
            .calendar__resultHead CPSC 110
            .calendar__resultBody Introduction to computer science, and that stuff.
          .calendar__result
            .calendar__resultHead CPSC 110
            .calendar__resultBody Introduction to computer science, and that stuff.