doctype html
html
  head
    meta(content="text/html; charset=UTF-8" http-equiv="content-type")
    link(rel="stylesheet" href="/static/css/index.css")
    link(rel="stylesheet" href="/static/css/gen.css")
  body
    div#calendar__header #[span(style="font-weight:300;color: #FFF;background-color: #D2527F;padding: 0 3px;margin-right: 2px;") µ]Schedule
      div#calendar__subheader Course planning is now super easy.
    div#calendar__wrap
      div.time__block
        div.block__course CPSC 110
        div.block__time 11:00 - 12:00
        div.block__lock
      div.time__dayWrap
        each day in ['Mon','Tue','Wed','Thu','Fri']
          div.time__day=day
      div.time__row
        div.time__rowHead.time__rowHead--top &nbsp;7:00
        div.time__rowSplit
      each hour in [8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11]
        div.time__row
          if hour >= 10
            div.time__rowHead #{hour}:00
          else
            div.time__rowHead &nbsp;#{hour}:00
          div.time__rowSplit
    div#calendar__control
      div#calendar__termWrap
        div.calendar__term TERM 1
        div.calendar__term.calendar__term--inactive TERM 2
      #calendar__courseWrap
        input(placeholder="Find your courses..")#calendar__search
        #calendar__resultWrap
          .calendar__result
            .calendar__resultHead CPSC 110
            .calendar__resultBody Introduction to computer science, and that stuff.
          .calendar__result
            .calendar__resultHead CPSC 210
            .calendar__resultBody Introduction to computer science, and that stuff.
          .calendar__result
            .calendar__resultHead CPSC 300
            .calendar__resultBody Introduction to computer science, and that stuff.
      #calendar__added
        .added__course.added__course--active
          .remove__courseBtn
          .added__courseLbl CPSC 110
        .added__course.added__course--color1
          .remove__courseBtn
          .added__courseLbl CPSC 210
        .added__course.added__course--color2
          .remove__courseBtn
          .added__courseLbl CPSC 310
        .added__course.added__course--color3
          .remove__courseBtn
          .added__courseLbl CHEM 113
        .added__course.added__course--color4
          .remove__courseBtn
          .added__courseLbl CPEN 310
      #calendar__range(style="display: none")
        .range__wrap#time
          .range__line
          .range__nub
      div.material AUTO GENERATE
    div#gen(style="display:none").fadeMeFast
      div#gen__wrap
        div#gen__center
          div#gen__loading
            div.gen__loadingText Generating Schedules
            div#loading__container
              div.loading__dot
              div.loading__dot
              div.loading__dot
            div.gen__loadingSubText.fadeMe Looking Through #[label(style="background-color: #444;padding: 2px 4px; margin: 0 4px; font-family: Courier") 1,123,743,238] Potential Schedules
    script.
      [].forEach.call(document.getElementsByClassName('added__course'), (el) => {
        el.onclick = (e) => {
          el.classList.toggle('added__course--active')
        }
      })

