doctype html
html
  head
    meta(content="text/html; charset=UTF-8" http-equiv="content-type")
    link(rel="stylesheet" href="/static/template.css")
    link(rel="stylesheet" href="/static/schedule.css")
    title µSchedule
  body
    #calendar__header #[span.calendar__header--bold µ]Schedule
      #calendar__subheader Course planning is now super easy.
    #calendar__wrap
      #calendar__left
        include comps/calendar__main
      #calendar__right
        include comps/calendar__control
    #gen__wrap(v-show="visible").fadeMeFast
      #gen__exit(@click="halt()")
      include comps/schedule__loading
    script(src="/static/js/vue.js")
    script(src="/static/js/mu.main.js")
    script(src="/static/js/mu.model.js")
    script(src="/static/js/mu.view.js")
    script(src="/static/js/view/view.control.js")
    script(src="/static/js/view/view.generate.js")