link(rel="stylesheet" href="/static/css/gen.css")


div#gen__wrap
  div#gen__center
    div#gen__loading
      div.gen__loadingText Generating Schedules
      div#loading__container
        div.loading__dot
        div.loading__dot
        div.loading__dot
      div.gen__loadingSubText.fadeMe.
        Looking Through
        #[label.gen__loadingNum 1,123,743,238]
        Potential Schedules