// OoOoOo looking at the source
html
  head
    block StyleSheets
  body
    div#header
      div.header__logo
        span.header__logo--bold µ 
        |Schedule

    div#generator
      include components/gen__loading
      include components/gen__normal
