link(rel="stylesheet" href="/static/calendar__control.css")

#control__wrap
  .control__wrap
    #control__search
      input(type="text" placeholder="ENTER ALL YOUR COURSES" v-model="query" @keydown="logDown()" @keyup="logUp(),search()")#searchInp
      .result__wrap
        .search__result(v-for="result in results" @click="addCourse(result)")
          .search__resultHead {{result.code}}
          .search__resultBody {{result.name}}
    .wrap__header :: COURSES ::
    .course__container
      .course(v-for="c in courses" v-bind:style="{backgroundColor: c.color}") {{c.code.repeat(7)}}