link(rel="stylesheet" href="/static/calendar__control.css")

#control__wrap
  .control__wrap
    #control__search
      input(type="text" placeholder="ENTER YOUR COURSES e.g. CPSC 110" v-model="query" @keyup="search($event)")#searchInp
      .result__wrap
        .search__loading(v-show="loading")
        .search__result(v-for="(result, index) in results" @click="addCourse(result)" v-bind:class="{'search__result--active':(index == current)}")
          .search__resultHead {{result[0]}}
          .search__resultBody {{result[1]}}
    .wrap__header :: COURSES ::
    .course__container
      .course(v-for="c in courses" @click="activeToggle(c)" v-bind:style="{backgroundColor: c.color}" v-bind:class="{'course--active':c.active}")
        .course__code {{c.code}}
        .course__extra(v-show="c.active")
          .course__description {{c.description}}
          .course__typeBox(v-for="type in c.typeArr") 
            .course__typeHeader {{type}}
            .course__section(v-for="section in c.secMap[type]"
              @mouseover="showTemp(section,c)" 
              @mouseout="removeTemp(section,c)") {{section.section}}
  .control__wrap
    .control__btn.control__btn--gen(@click="generate()") AUTO GEN
    .control__btn ADD BREAK