link(rel="stylesheet" href="/static/calendar__control.css")

#control__wrap
  .material 
    .term__item.term__item--one.term__item--active &nbsp;&nbsp;Term1&nbsp;&nbsp;
    .term__item &nbsp;&nbsp;Term2&nbsp;&nbsp;
  br
  #control__search.material
    input(type="text" placeholder="ENTER ALL YOUR COURSES" v-model="query" @keydown="logDown()" @keyup="logUp(),search()")#searchInp
    .result__wrap
      .search__result(v-for="result in results")
        .search__resultHead {{result.course}}
        .search__resultBody {{result.description}}
  .control__courseWrap.material
    .control__header YOUR COURSES
  #generateBtn.material(@click="showGenerator()") AUTO GEN
