link(rel="stylesheet" href="/static/calendar__control.css")

#control__wrap
  .control__wrap
    #control__search
      input(type="text" placeholder="ENTER YOUR COURSES e.g. CPSC 110" v-model="query" @keyup="search($event)")#searchInp
      .result__wrap
        .search__loading(v-show="loading")
        .search__result(v-for="(result, index) in results" @click="addCourse(result)" v-bind:class="{'search__result--active':(index == current)}")
          .search__resultHead {{result[0]}}
          .search__resultBody {{result[1]}}
    #term__wrap
      button(v-on:click="toggleTerm('t1')" v-bind:class="{'term__btn--active': (term == 't1')}").term__btn.term__btn--left TERM 1
      button(v-on:click="toggleTerm('t2')" v-bind:class="{'term__btn--active': (term == 't2')}").term__btn TERM 2
    .wrap__header :: COURSES ::
    .course__container(v-for="(val, t) in courses")
      .course(v-for="c in courses[t]" @click="activeToggle(c)" v-bind:style="{backgroundColor: c.color}" v-bind:class="{'course--active':c.active}")
        .course__code {{c.code}}
        .course__extra(v-show="c.active")
          .course__description {{c.description}}
          .course__typeBox(v-for="(sections, index) in c.terms[term].sections")
            .course__typeHeader {{c.types[index]}}
            .course__section(v-for="section in sections"
              @mouseover="showTemp(section)" 
              @mouseout="removeTemp(section)"
              @click="select(section)"
              v-bind:class="{'course__section--selected': section.selected}") {{ section && section.section}}

  // Not going to think about this for now...
    .control__wrap
    .control__btn.control__btn--gen(@click="generate()") AUTO GEN
    .control__btn ADD BREAK