link(rel="stylesheet" href="/static/calendar__control.css")

#control__wrap
  .control__wrap
    #control__search
      input(type="text" placeholder="ENTER YOUR COURSES e.g. CPSC 110" v-model="query" @keyup="search($event)")#searchInp
      .result__wrap
        .search__loading(v-show="loading")
        .search__result(v-for="(result, index) in results" @click="addCourse(result)" v-bind:class="{'search__result--active':(index == current)}")
          .search__resultHead {{result.code}}
          .search__resultBody {{result.name}}
    #term__wrap
      button(v-on:click="toggleTerm('t1')" v-bind:class="{'term__btn--active': (term == 't1')}").term__btn.term__btn--left TERM 1
      button(v-on:click="toggleTerm('t2')" v-bind:class="{'term__btn--active': (term == 't2')}").term__btn TERM 2
    .wrap__header :: COURSES ::
    .course__container
      .removeBtn__parent.course(v-for="c in courses" @click="activeToggle(c)" v-bind:style="{backgroundColor: c.colour}" v-bind:class="{'course--active':c.active}")
        .removeBtn(@click="removeCourse(c)")
          i.material-icons &#xE5CD; 
        .course__code {{c.code}}
        .course__extra(v-show="c.active")
          .course__description {{c.description}}
          .course__typeBox(v-for="sectionsByActivity in c.terms[term].sectionMap")
            .course__typeHeader {{sectionsByActivity.activity}}
            .course__section(v-for="index in sectionsByActivity.indices"
              @mouseover="showTemp(c.terms[term].sections[index], c)" 
              @mouseout="removeTemp(c.terms[term].sections[index])"
              @click.stop="select(c.terms[term].sections[index])"
              v-bind:class="{'course__section--selected': c.terms[term].sections[index].selected}") {{ c.terms[term].sections[index].section}}
    .control__wrap
      .control__btn.control__btn--gen(@click="generate()") AUTO GEN
      .control__btn(@click="newTemplate()") ADD NEW
      .control__btn(@click="register()") REGISTER

#section__linkWrap.section__linkWrap
  .checkmark
    i.material-icons &#xE876;
  a(href="" target="_blank").section__link a





