link(rel="stylesheet" href="/static/calendar__main.css")

#calendar.material
  div.cal__dayWrap
    div.cal__day.cal__day--leftest
    each day in ['Mon','Tue','Wed','Thu','Fri']
      div.cal__day=day
  each hour in [7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10]
    div.cal__row
      if hour >= 10
        div.cal__rowTime #{hour}:00
      else
        div.cal__rowTime &nbsp;#{hour}:00


  #calendar__blockWrap
    div(v-for="day in days").block__dayCol
      div(v-for="group in day")
        div(v-for="block in group.blocks" v-bind:style="block.style").block__section {{block.section.uniq}}
