link(rel="stylesheet" href="/static/calendar__gen.css")

#gen__calendar.material
  include navigation
  div.cal__dayWrap
    div.cal__day.cal__day--leftest
    each day in ['Mon','Tue','Wed','Thu','Fri']
      div.cal__day=day
  each hour in [7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10]
    div.cal__row
      if hour >= 10
        div.cal__rowTime #{hour}:00
      else
        div.cal__rowTime &nbsp;#{hour}:00

  #calendar__blockWrap
    // This is where we can begin view modification.
    div(v-for="day in [0,1,2,3,4,5,6]").block__dayCol
      div(v-for="group in days[day]" v-bind:style="{top: group.start}").block__dayGroup
      div(v-for="group in tempDays[day]" v-bind:style="{top: group.start, height: group.height}" style="background-color: #999;width: 100%;")