link(rel="stylesheet" href="/static/calendar__gen.css")

div.gen__loadingText Generated Schedules
#gen__scheduleWrap(v-show="!loading")
  include navigation
  .gen__btnWrap(@click="select()")
    .btn.gen__btn Select
  #gen__calendarWrap
    table#gen__calendar.material  
      tbody.cal__rowWrap
        tr.cal__row.cal__row--days
          td.cal__block.cal__block--time
          each day in ['Mon','Tue','Wed','Thu','Fri']
            td.cal__block.cal__block--day=day
        template(v-for="hour in [[8,0], [85,1], [9,2], [95,3], [10,4], [105,5], [11,6], [115,7], [12,8], [125,9], [1,10], [15, 11], [2, 12], [25, 13], [3,14], [35,15], [4, 16], [45, 17], [5,18], [55,19], [6, 20], [65, 21], [7,22], [75,23],[8,24], [85,25],[9,26], [95,27]]")        
          tr.cal__row
            template(v-if="(hour[0] >= 10) && (hour[0] < 13)")            
              td.cal__block.cal__block--time(rowspan="2") {{hour[0]}}:00
            template(v-else-if="hour[0] < 13")            
              td.cal__block.cal__block--time(rowspan="2") &nbsp;{{hour[0]}}:00
            template(v-for="day in [0, 1, 2, 3, 4]")            
              td.cal__block.cal__block--data(v-bind:data-time="hour[1]", v-bind:data-day="day", v-bind:class="{'cal__block--highlighted':breakTable[hour[1]][day]}")    
    .calendar__blockWrap#gen__calendar__blockWrap
      // This is where we can begin view modification.
      div.block__timeCol
      div(v-for="day in [0,1,2,3,4]").block__dayCol      
        div(v-for="section in days[day]" v-bind:style="section.styleObject" v-bind:data-sch="section.sch" v-bind:data-sec="section.sec").block__dayGroup {{section.sectionCode}}

.index__wrap
  span#gen__index(v-text="index + 1")
  span /
  span#gen__maxIndex(v-text="maxIndex")

