link(rel="stylesheet" href="/static/navigation.css")

#arrow__wrap
  .arrow.arrow__left(@click="displayPrevious()")
    i.material-icons &#xE5CB;
  .arrow.arrow__right(@click="displayNext()")
    i.material-icons &#xE5CC;