
// This is for that little control bar on the side of the schedule.

link(rel="stylesheet" href="/static/plate__control.css")
div#plate__bar
  .plate__number 1 | #[strong 10]
  .plate__button.plate__button--prev
  .plate__button.plate__button--next
  .plate__button.plate__button--add
  .plate__button.plate__button--trash
