div#gen__center
  div#gen__loading(v-show="loading")
    div.gen__loadingText Generating Schedules
    div#loading__container
      div.loading__dot
      div.loading__dot
      div.loading__dot    
    div.gen__loadingSubText.fadeMe.
      Looking Through
      #[label.gen__loadingNum {{maxNumber}}]
      Potential Schedules
  div#gen__schedule
    include gen__schedule