.calendar {  
  width: 600px;
  overflow: visible;
  font-family: Montserrat;
  color: #000;
  border-collapse: collapse;
  border-spacing: 0px;
}
  .cal__rowWrap {
  }
    .cal__row {
      font-weight: 400;
      font-size: 10px;
    }
      .cal__row--days {
        height: 25px;
        text-transform: uppercase;
      }
      .cal__block {
        width: calc(92% / 5);
        height: 20px;
        padding:0px;
        background-color: #FFF;
      }
      .cal__block--time {
        width: 8%;
      }
