#gen__schedule {
  margin-top: 100px;
  position: relative;
}
  #gen__calendarWrap {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: inline-block;
  }
    #gen__calendar{      
      width: 600px;    
      overflow: visible;
      font-family: Montserrat;
      color: #000;
    }

#gen__calendar__blockWrap {
  
}


#gen__index__wrap {
  margin-top: 25px;
}
  #gen__index__wrap span {
    color: white;
    margin: 5px;
  }