#calendar{
  width: 600px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: #fafafa;
}
  .cal__dayWrap{
    width: 100%;
    float: left;
    border-bottom: 1px solid #EEE;
    color: #000;
    background-color: #FFF;
  }
    .cal__day{
      width: calc(92% / 5);
      display: inline-block;
      border-left: 1px solid #EEE;
      box-sizing: border-box;
      padding: 10px;
      font-family: Montserrat;
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
    }
      .cal__day--leftest{
        border-left: 0;
        width: 8%;
      }

  .cal__row{
    width: 100%;
    border-bottom: 1px solid #EEE;
    height: 40px;
    line-height: 40px;
    float: left;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 10px;
    text-align: left;
    color: #000;
  }
    .cal__rowTime{
      background-color: #FFF;
      border-right: 1px solid #EEE;
      width: 8%;
      text-align: center;
    }