#calendar{
  width: 600px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: #fafafa;
}
  .cal__dayWrap{
    width: 100%;
    float: left;
    border-bottom: 1px solid #EEE;
    color: #000;
    background-color: #FFF;
  }
    .cal__day{
      width: calc(92% / 5);
      display: inline-block;
      border-left: 1px solid #EEE;
      box-sizing: border-box;
      padding: 10px;
      font-family: Montserrat;
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
    }
      .cal__day--leftest{
        border-left: 0;
        width: 8%;
      }

  .cal__row{
    width: 100%;
    border-bottom: 1px solid #EEE;
    height: 40px;
    line-height: 40px;
    float: left;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 10px;
    text-align: left;
    color: #000;
  }
    .cal__rowTime{
      background-color: #FFF;
      border-right: 1px solid #EEE;
      width: 8%;
      text-align: center;
    }

  #calendar__blockWrap{
    position: absolute;
    top: 34px;
    left: 49px;
    width: calc(100% - 49px);
    height: calc(100% - 34px);
  }

    .block__dayCol{
      width: calc(100% / 5);
      display: inline-block;
      height: 100%;
    }
    .block__dayGroup{
      width: 100%;
      display: inline-block;
      background-color: rgba(0,0,0,0.1);
      position: relative;
    }
      .block__section{
        color: #FFF;
        border-radius: 5px;
        font-family: Montserrat;
        font-size: 11px;
        background-color: #999;
        position: absolute;
        padding: 2px;
        box-sizing: border-box;
      }