.wrap__header{
  font-family: Montserrat;
  font-weight: 400;
  width: 100%;
  text-align: left;
  margin: 5px;
  font-size: 10px;
  color: #999;
  padding-left: 10px;
  margin-top: 10px;
  letter-spacing: 1px;
}

.control__wrap{
  display: inline-block;
  background-color: #EEE;
    border-radius: 2px;
  overflow: hidden;
  width: 300px;
}
  .control__wrap--seperate{
    margin-top: -5px;
  }


#control__search{
  width: 100%;
  display: inline-block;
  overflow: visible;
}
  #searchInp{
    padding-left: 40px;
    width: calc(100% - 8px);
    border: 0;
    font-family: Montserrat;
    height: 40px;
    background: url(./img/glass.png) center left 7.5px no-repeat;
    background-size: 25px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    outline: 0;
    font-size: 10px;
    box-sizing: border-box;
    float: left;
    background-color: #FFF;
    border: 1px solid #EEE;
    border-radius: 5px;
    margin: 4px;
  }

  /** Styling for the results.. */
  .result__wrap{
    display: inline-block;
    background-color: #FFF;
    border-top: 1px solid #EEE;
    padding: 0;
    width: 100%;
    float: left;
  }
    .search__result{
      border-bottom: 1px solid #EEE;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      float: left;
    }
      .search__resultHead{
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: left;
        width: 100%;
        float: left;
      }
      .search__resultBody{
        font-family: Montserrat;
        font-size: 10px;
        color: #999;
        text-align: left;
        margin-top: 4px;
        float: left;
      }
      .search__result:hover{
        background-color: #F2f2F2;
        cursor: pointer;
      }

.course__container{
  text-align: center;
  margin-bottom: 10px;
}
.course {
  display: inline-block;
  margin: 2.5px;
  font-family: Montserrat;
  font-size: 10px;
  letter-spacing: 1px;
  background-color: #AAA;
  color: #FFF;
  padding: 7.5px;
  border-radius: 4px;
  cursor: pointer;
  width: 80px;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px #DDD;
  transition: width .25s;
}
  .course--active{
    width: 250px;
    min-height: 100px;
    transition: width .25s;
  }

.control__btn{
  padding: 10px;
  border-radius: 3px;
  background-color: #DDD;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
  display: inline-block;
  font-family: Montserrat;
  font-size: 11px;
  cursor: pointer;
  margin: 5px;
}
  .control__btn:active{
    box-shadow: none;
  }
  .control__btn--gen{
    background: url(/static/img/lightning.png) #DDD center left 5px no-repeat;
    background-size: 20px;
    padding-left: 30px;
  }