
  @import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400');

  #gen__wrap{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.93);
      overflow-y: scroll;
      z-index: 100000000;
  }
    #gen__center{
      width: 90%;
      margin: auto;
      max-width: 1000px;
      height: 100%;
    }
      
      #gen__loading{
        margin-top: 100px;
      }
        .gen__loadingText{
          font-family: Montserrat;
          font-size: 40px;
          color: #FFF;
          letter-spacing: 1px;
          font-weight: 100;
        }
        .gen__loadingSubText{
          font-family: Montserrat;
          font-size: 12px;
          color: #FFF;
          font-weight: 300;
          margin-top: 50px;
        }
        #loading__container{
        margin: auto;
        text-align: center;
        width: 100%;
        margin-top: 30px;
      }
      .loading__dot {
        width: 20px;
        height: 20px;
        border: 2px solid #444;
        border-radius: 50%;
        margin: auto;
        display: inline-block;
        transform: scale(0);
        animation: fx 1000ms ease infinite 0ms;
      }
      .loading__dot:nth-child(2) {
        animation: fx 1000ms ease infinite 300ms;
      }
      .loading__dot:nth-child(3) {
        animation: fx 1000ms ease infinite 600ms;
      }
      @keyframes fx {
        50% {
          transform: scale(1);
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

      .fadeMe{
        -webkit-animation: fadein 1s;
           -moz-animation: fadein 1s;
            -ms-animation: fadein 1s;
             -o-animation: fadein 1s;
                animation: fadein 1s;
      }
      .fadeMeFast{
        -webkit-animation: fadein 0.25s;
           -moz-animation: fadein 0.25s;
            -ms-animation: fadein 0.25s;
             -o-animation: fadein 0.25s;
                animation: fadein 0.25s;
      }
      @keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }

      .gen__loadingNum{
        background-color: #444;
        padding: 2px 4px;
        margin: 0 4px; 
        font-family: Courier;
      }


  .schedule{
    height: 600px;
    width: 600px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
  }
    .schedule__timeRow{
      height: 100px;
      width: 100%;
      border-bottom: 1px solid rgba(255,255,255,0.1);
    }