@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500');

body{
  background: url(/static/img/background.png) #232526;  
  background-size: 20%;
  height: 100%;
  text-align: center;
  font-family: Montserrat;
}

/** Header stuff on the Calendar */
#calendar__header{
  font-family: Montserrat;
  font-size: 35px;
  width: 900px;
  margin: auto;
  text-align: left;
  padding: 30px;
  color: #FFF;
  font-weight: 100;
}
  .calendar__header--bold{
    font-weight:300;
    color: #FFF;
    background-color: #8E44AD;
    padding: 0 3px;
    margin-right: 2px;
  }
#calendar__subheader{
  color: #888;
  font-size: 11px;
  font-weight: 300;
  margin-left: 3px;
  margin-top: 5px;
}

/** Main stuff on the Calendar */
#calendar__wrap{
  min-width: 900px;
  max-width: 1000px;
  margin: auto;
  min-height: 30px;
}
  #calendar__left{
    position: relative;
    width: 60%;
    height: 100%;
    float: left;
  }
  #calendar__right{
    width: 30%;
    height: 100%;
    float: right;
  }

.material{
  background-color: #ddd;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 1px 2px #DDD;
}


#gen__exit{
  position: fixed;
  top: 10%;
  left: 10%;
  height: 40px;
  width: 40px;
  background: url(/static/img/x.png) center center no-repeat;
  background-size: 100%;
  cursor: pointer;
}